.dialog-styles span {
    font-family: -apple-system, BlinkMacSystemFont, "Arial", "Helvetica Neue", sans-serif;
}

.img-styles {
    height: 55px;
    width: 55px;
    padding: 10px;
}

.dialog-styles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0 0 0 / 35%);
    animation: fade-in 0.18s;
    backdrop-filter: blur(5px);
    cursor: pointer;
    overflow: auto;
}

.dialog-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    color: white;
    cursor: initial;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.button-styles {
    color: white;
    max-width: 100%;
    width: 420px;
    height: 95px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    outline: 0;
    font-weight: 200;
    cursor: pointer;
    transition: transform 0.15s;
    display: flex;
    align-items: center;
    background: rgb(35 35 39);
}

.button-label {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: 600;
}

.button-styles:hover {
    transform: scale(1.02);
    transition: all 0.2s;
}

.button-styles > div {
    display: flex;
    padding: 0 15px;
    border-radius: 10px;
    font-weight: 400;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
}

@media all and (max-width: 640px) {
    .dialog-container {
        display: grid;
        padding: 150px 0;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        color: white;
        cursor: initial;
        width: 80%;
    }

    .button-styles {
        width: 100%;
        height: 150px;
    }

    .button-label {
        font-size: 20px;
    }

    .img-styles {
        height: 50px;
        width: 50px;
    }
}

.connect-button {
    font-size: 18px;
    background: rgb(35 35 39);
    color: white;
    border: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    cursor: pointer;
}

.connect-button:hover {
    transform: scale(1.03);
    transition: all 0.4s;
}

