/*!* pt-sans-latin-ext-400-normal*!*/
/*@font-face {*/
/*    font-family: 'PT Sans';*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*    font-weight: 400;*/
/*    src: url('./pt-sans-latin-ext-400-normal.woff2') format('woff2'), url('./pt-sans-all-400-normal.woff') format('woff');*/
/*    unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;*/
/*}*/

.dialog-styles span {
    font-family: -apple-system, BlinkMacSystemFont, "Arial", "Helvetica Neue", sans-serif;
    /*font-family: "PT Sans", BlinkMacSystemFont, "Arial", "Helvetica Neue", sans-serif;*/
}

.button-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 15px;
}

.img-container {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-styles {
    width: 100%;
    height: 100%;
    max-height: 45px;
    max-width: 45px;
}

@media all and (max-width: 300px) {
    .img-styles {
        width: 11vw;
        max-height: 11vw;
        height: auto;
        padding: 0;
        padding-right: 5px;
    }
}

.dialog-styles {
    color: #23232F;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0 0 0 / 60%);
    animation: fade-in 0.18s;
    backdrop-filter: blur(5px);
    cursor: pointer;
    overflow: auto;
    box-sizing: border-box;
    padding: 30px;
}

.dialog-container {
    display: grid;
    grid-gap: 5px;
    padding: 0 30px;
    background: #F2F2F6;
    border-radius: 25px;
    overflow: auto;
    grid-template-columns: 1fr;
    cursor: initial;
    animation: move-in 0.18s;
    max-width: 450px;
    max-height: 540px;
    width: 100%;
    box-sizing: border-box;
}

.method-container {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.method-button {
    width: 144px;
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    border: none;
}

.method-button:hover {
    /*transform: scale(1.02);*/
    /*transition: all 0.2s;*/
}

.dialog-title {
    font-weight: 400;
    margin: 0;
    width: 100%;
}

.dialog-top-icon {
    cursor: pointer;
    padding: 15px;
}

.dialog-top-right-icon {
    cursor: pointer;
    padding: 15px;
    margin-right: -15px;
}

.dialog-top-left-icon {
    cursor: pointer;
    padding: 15px;
    margin-right: 15px;
    margin-left: -15px;
}

.dark .dialog-container {
    background: rgb(35 35 39);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes move-in {
    from {
        transform: translateY(5%);
    }
    to {
        transform: translateY(0%);
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.button-styles {
    background: white;
    max-width: 100%;
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 15px;
    outline: 0;
    cursor: pointer;
    transition: transform 0.15s;
    display: grid;
    grid-template-columns: 80px 1fr;
}

.dark .button-styles {
    border: none;
}

.button-label {
    margin-bottom: 0;
    font-size: 18px;
    text-align: left;
}

.button-description {
    font-size: 12px;
    margin-top: -3px;
    line-height: 1.2;
    text-align: left;
    color: #9C9CA4;
}

.dialog-top {
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: #f2f2f6;
}

.dialog-bottom {
    display: flex;
    padding-bottom: 20px;
    padding-top: 15px;
    justify-content: center;
    position: sticky;
    bottom: 0;
    font-size: 12px;
    margin-top: -3px;
    line-height: 1.2;
    text-align: left;
    color: #5D5D6C;
    background: #f2f2f6;
}

.qr-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-bg {
    height: 340px;
    width: 340px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
}

qr-code {
    display: flex;
    justify-content: center;
    height: 100%;
}

.dark .button-label {
    color: white;
}

.button-styles:hover {
    /*transform: scale(1.02);*/
    /*transition: all 0.2s;*/
    background: white;
}

.dark .button-styles:hover {
    background: #545454;
}

.connect-button {
    font-size: 18px;
    background: rgb(35 35 39);
    color: white;
    border: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    cursor: pointer;
}

.connect-button:hover {
    transform: scale(1.03);
    transition: all 0.4s;
}

.dialog-content {
    /*padding-top: 15px;*/
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.loading-img {
    height: 100px;
    width: 100px;
}

@media only screen and (max-width: 480px) {
    .dialog-styles {
        justify-content: end;
        padding: 0;
    }
    .dialog-container {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        height: 50%;
        border-radius: 15px 15px 0 0;
    }
    .dialog-top {
        padding-bottom: 0;
    }
    .dialog-bottom {
        padding-bottom: 15px;
        padding-top: 15px;
    }
}
